* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1168px;
    margin: 0 auto;
}

header {
    padding-top: 55px;
    background: url("./assets/images/tZeezotje.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-bottom: 265px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: url("./assets/images/title.png");
    width: 269px;
    height: 55px;
    margin-bottom: 30px;
}

.nav__links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    min-width: 454px;
}

.link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: #d3b47f;
}

.contact__container {
    display: flex;
    justify-content: space-between;
    min-width: 157px;
}

.phoneimg {
    display: block;
    background: url("./assets/images/phone.png");
    width: 20px;
    height: 20px;
    background-size: cover;
}

.phone {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.open {
    margin-top: 154px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.abad {
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
    color: #fff;
}

.buttonicons__container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.icon__container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
}

.social__icons {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.social__icons__container {
    display: flex;
    justify-content: space-between;
    min-width: 267px;
}

.button__container {
    background: #3a4574;
    width: 270px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.reserve__button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.reserve__button:hover {
    color: #d3b47f;
    text-decoration: underline;
}

.woensdag__container {
    display: flex;
}

.woensdag__description {
    margin-top: 60px;
}

.woensdag {
    background: #fff;
    min-height: 100vh;
    padding-bottom: 90px;
}

.description__container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 363px;
    padding-bottom: 20px;
}

.description__width {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 369px;
    padding-bottom: 20px;
}

.description__width__row2 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 405px;
    padding-bottom: 20px;
}

.icons__descriptions {
    width: 469px;
    border-bottom: 1px solid #e7e7e7;
}


.title__block {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000;
}

.dot__icon__container {
    display: flex;
    justify-content: space-between;
    min-width: 39px;
}

.dot__icon {
    display: inline-block;
    background: url("./assets/images/ellipse.png");
    width: 5px;
    height: 5px;

}

.description__two__left {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    white-space: nowrap;
}

.description__two__right {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    white-space: nowrap;
}

.image__container {
    padding: 130px;
    position: relative;
}

.borderimg {
    border: 1px solid #d3b47f;
    width: 471px;
    height: 502px;
}

.tables__left {
    background: url("./assets/images/tables1.png");
    width: 323px;
    height: 486px;
    position: absolute;
    left: 32px;
    bottom: 0;
}

.tables__right {
    background: url("./assets/images/tables2.png");
    width: 323px;
    height: 486px;
    position: absolute;
    top: 80px;
    right: 0;
}


.zz {
    display: block;
    background: url("./assets/images/nn.png");
    width: 83px;
    height: 58px;
}

.goede__title {
    margin-top: 34px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #d3b47f;
}

.goede__par {
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    max-width: 785px;
}

.goede__footer {
    display: block;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #d3b47f;
}

.swiper {
    min-height: 100vh;
    background-color: #3a4574;
}

.swiper-wrapper {
    padding: 220px 0;
    max-width: 1168px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disabled_swiper_button {
    opacity: 0.5;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-next {
  background-image: url("./assets/images/VectorR.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.swiper-button-prev {
    background-image: url("./assets/images/VectorL.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }

.swiper-button-prev::after {
    display: none;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 140px !important;
    left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 140px !important;
    right: auto;
}

.form__container {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 270px;
}

.active {
  display: block;
}

.form {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 1px solid #ccc;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.login {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
}

.password {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
}

.but {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1224px) {
    .nav__links {
        display: none;
    }
    header {
        padding: 50px 130px;
    }
    .abad {
        font-size: 44px;
    }
    .woensdag__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .goede__title {
        font-size: 26px;
    }
    .goede__footer {
        font-size: 26px;
    }
    .swiper-wrapper {
        padding: 120px 0;
    }
    .swiper {
        min-height: 70vh;
    }
    .woensdag__container {
        flex-wrap: wrap;
    }
    .goede__par {
        max-width: 425px;
    }
    .open {
        margin-top: 100px;
    }
    
}

@media screen and (max-width: 768px) {
    .tables__left {
        width: 223px;
        height: 436px;
    }
    .tables__right {
        width: 223px;
        height: 436px;
    }
    .borderimg {
        width: 301px;
    }
    .goede__par {
        max-width: 325px;
    }
    nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    .open {
        margin-top: 50px;
    }
    .swiper-wrapper {
        padding: 60px 0;
    }

}
@media screen and (max-width: 578px) {
    header {
        padding: 50px 90px;
    }
    .tables__left {
        width: 173px;
        height: 336px;
    }
    .tables__right {
        width: 173px;
        height: 336px;
    }
    .borderimg {
        width: 151px;
        height: 352px;
    }
    .abad {
        font-size: 30px;
    }
    .title__block {
        font-size: 20px;

    }
    .description__two__left {
        font-size: 14px;
    }
    .description__two__right {
        font-size: 14px;
    }
    .goede__title {
        font-size: 20px;

    }
    .goede__footer {
        font-size: 20px;
    }
}
@media screen and (max-width: 476px) {
    .tables__left {
        width: 123px;
        height: 256px;
    }
    .tables__right {
        width: 123px;
        height: 256px;
        right: 30px;
    }
    .borderimg {
        width: 131px;
        height: 252px;
    }
    .title__block {
        font-size: 16px;

    }
    .description__two__left {
        font-size: 10px;
    }
    .description__two__right {
        font-size: 10px;
    }
    .description__container {
        min-width: 313px;

    }
    .description__width {
        width: 319px;

    }
    .description__width__row2 {
        width: 355px;
    }
    .icons__descriptions {
        width: 400px;
    }
  
}
@media screen and (max-width: 420px) {
    .icons__descriptions {
        width: 250px;
    }
    .description__container {
        min-width: 193px;
    }
    .description__width {
        width: 209px;

    }
    .description__width__row2 {
        width: 225px;
    }
    .tables__right {
        width: 123px;
        height: 256px;
        right: 80px;
    }
    .description__two__right {
        font-size: 8px;
    }
    .description__two__left {
        font-size: 8px;
    }
    .goede__par {
        font-size: 14px;
    }
    .woensdag__container {
        min-width: 320px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .abad {
        font-size: 30px;
        line-height: 54px;
    }
}