* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1168px;
    margin: 0 auto;
}

header {
    padding-top: 55px;
    background: url("./assets/images/tZeezotje.png");
    min-height: 100vh;
    padding-bottom: 265px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: url("./assets/images/title.png");
    width: 269px;
    height: 55px;
}

.nav__links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    min-width: 454px;
}

.link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}

.contact__container {
    display: flex;
    justify-content: space-between;
    min-width: 157px;
}

.phoneimg {
    display: block;
    background: url("./assets/images/phone.png");
    width: 20px;
    height: 20px;
    background-size: cover;
}

.phone {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.open {
    margin-top: 154px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.abad {
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
    color: #fff;
}

.buttonicons__container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon__container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
}

.social__icons {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.social__icons__container {
    display: flex;
    justify-content: space-between;
    min-width: 267px;
}

.button__container {
    background: #3a4574;
    width: 270px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center
    
}

.reserve__button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}

.woensdag__container {
    display: flex;
}

.woensdag__description {
    margin-top: 60px;
    
}

.woensdag {
    background: #fff;
    min-height: 100vh;
    padding-bottom: 90px;
}

.description__container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 363px;
    padding-bottom: 20px;
}

.description__width {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 369px;
    padding-bottom: 20px;
}

.description__width__row2 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 405px;
    padding-bottom: 20px;
}

.icons__descriptions {
    width: 469px;
    border-bottom: 1px solid #e7e7e7;
}


.title__block {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000;
}

.dot__icon__container {
    display: flex;
    justify-content: space-between;
    min-width: 39px;
}

.dot__icon {
    display: inline-block;
    background: url("./assets/images/ellipse.png");
    width: 5px;
    height: 5px;

}

.description__two__left {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    white-space: nowrap;
}

.description__two__right {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    white-space: nowrap;
}

.image__container {
    padding: 130px;
    position: relative;
}

.borderimg {
    border: 1px solid #d3b47f;
    width: 471px;
    height: 502px;
}

.tables__left {
    background: url("./assets/images/tables1.png");
    width: 323px;
    height: 486px;
    position: absolute;
    left: 32px;
    bottom:0;
}

.tables__right {
    background: url("./assets/images/tables2.png");
    width: 323px;
    height: 486px;
    position: absolute;
    top: 80px;
    right:0;
}

.goede {
    background: #3a4574;
    padding: 220px 0;
}

.goede__textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zz {
    display: block;
    background: url("./assets/images/nn.png");
    width: 83px;
    height: 58px;
}

.goede__title {
    margin-top: 34px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #d3b47f;
}

.goede__par {
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    max-width: 785px;
}

.goede__footer {
    display: block;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #d3b47f;
}
